
.logo{
	text-align: center;
}

.container{
	margin: 50px 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.error{
	border: red 3px solid;
}

.error-message{
	text-align: center;
	color: red;
}

.isActive{
	background-color:rgb(0, 221, 255);
}

.isDone{
	opacity: 0.5;
	text-decoration: line-through;
}